{{ if .Params.comments }}
<script src="https://giscus.app/client.js"
        data-repo="falconvn2006/falconvn2006"
        data-repo-id="R_kgDORHwxYA"
        data-category="Announcements"
        data-category-id="DIC_kwDORHwxYM4C3FXb"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}